@import"base./reset.";
@import"base./base.";

@import"components./animaciones.";
@import"components./cards.";
@import"components./navbar.";

@import"layout./footer.";
@import"layout./header.";

@import"utilities./fuction.";
@import"utilities./map.";
@import"utilities./mixins.";
@import"utilities./variables.";



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


