//colors

$color-primary: yellow;
$color-primary-light: rgb(236, 236, 159);
$color-primary-dark: rgb(76, 76, 7);

$color-secondary-light: grey;
$color-secondary-dark: rgb(49, 47, 47);

$color-background: rgba(58, 58, 58, 0.49);
$color-background-light: white;

$color-letras-dark: black;
$color-letras-light:rgb(214, 214, 214)

//fonts

$default-font-size 1.6rem;

//grid

$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-samll: 6rem;
$gutter-horizontal: 6rem;
