*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(tab-land){
        font-size: 56.25%;
    }
    @include respond(tab-port){
        font-size: 50%;
    }
    @include respond(big-desktop){
        font-size: 75%;
    }
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
    background: url("C:\Users\sofia\Downloads\ult.png");
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
    color: $color-letras-dark;
}
img{
    width: 80%;
    height: auto;
}
nav, .servicios, .presentacion, .footer-content{
    width: 80%;
    margin: auto;
}
.titulo-servicios, .presentacion{
    margin-bottom: 10%;
}